<div class="text-layout">

   <h3>Decimal y Porcentaje</h3>
   <p>
      Pipes incluidos en Angulos - Usualmente en el Common Module
   </p>
</div>


<div class="p-grid">
   <div class="p-col-4">
      <p-card header="ventas netas" subheader="Pipe number">
         
         {{ventasNetas | number:'1.2-2'}}
      </p-card>
   </div>

   <div class="p-col-4">
      <p-card header="ventas Brutas" subheader="Pipe currency">
         
         {{(ventasNetas + 1000000) | currency:'USD':'symbol-narrow':'1.4-4'}}
      </p-card>
   </div>

   <div class="p-col-4">
      <p-card header="Porcentajes" subheader="Pipe porcentaje">
         
         {{porcentaje | percent:'.2-2'}}
      </p-card>
   </div>
</div>