<div class="text-layout">

   <h3>Pipes Basicos</h3>
   <p>
      Pipes incluidos en Angulos - Usualmente en el Common Module
   </p>
</div>

<div class="p-grid">
   <div class="p-col-4">
      <p-card header="uppercase" 
              [subheader]="nombreLower | uppercase">
            
            {{nombreLower | uppercase}}
      </p-card>
   </div>
   <div class="p-col-4">
      <p-card header="LoweCase" 
              [subheader]="nombreUpper | lowercase">
            
            {{nombreLower | lowercase}}
      </p-card>
   </div>
   <div class="p-col-4">
      <p-card header="TitleCase" 
              [subheader]="nombreCOmpleto | titlecase">
            
            {{nombreCOmpleto | titlecase}}
      </p-card>
   </div>
</div>


<div class="text-layout">

   <h3>Date  | Fecha | Pipe</h3>
   <p>
      Pipes para mostrar fechas
   </p>
</div>

<div class="p-grid">
   <div class="p-col-6">
      <p-card>
         <ul>
            <li>Fecha</li>
            <li>Fecha | date</li>
            <li>fecha | date:'short'</li>
            <li>fecha | date:'long'</li>
            <li>fecha | date:'MMMM'</li>
            <li>fecha | date:'MMMM'</li>
         </ul>

         <hr>

         <ul>
            <li>fecha | date:'long'</li>
            <li>fecha | date:'long':'':'en'</li>
         </ul>

      </p-card>
   </div>

   <div class="p-col-6">
      <p-card>
         <ul>
            <li> {{fecha}} </li>
            <li> {{fecha | date}} </li>
            <li> {{fecha | date:'short' }} </li>
            <li> {{fecha | date:'long' }} </li>
            <li> {{fecha | date:'MMMM' }} </li>
            <li> {{fecha | date:'MMMM dd yyyy' }} </li>
         </ul>

         <hr>

         <ul>
            <li> {{fecha | date:'long':'GMT-5' }} </li>
            <li> {{fecha | date:'long':'':'en' }} </li>
         </ul>
      </p-card>
   </div>

</div>