<div class="text-layout">

   <h3>Pipes no comunes</h3>
   <p>
      Pipes incluidos en Angulos - Usualmente en el Common Module
   </p>
</div>


<div class="p-grid">

   <div class="p-col p-md-6">

      <p-fieldset legend="i18nSelect Pipe"  [toggleable]="true">
         <p>
            Saludos {{nombre}}, es un placer 
            {{genero | i18nSelect:invitacionMapa}} 
            a nuestro evento
         </p>
         <button pButton  class="p-button-success" label="Cambiar de persona" (click)="cambiarCliente()">
            
         </button>
     </p-fieldset>

   </div>

   <div class="p-col p-md-6">

      <p-fieldset legend="i18nPlural Pipe"  [toggleable]="true">
         <p>Actualmente {{clientes.length | i18nPlural:clientesMapa}}</p>
         <button pButton  class="p-button-danger" label="Borrar Cliente" (click)="borrarCliente()">
            
         </button>
     </p-fieldset>

   </div>

   <div class="p-col p-md-6">

      <p-fieldset legend="Slice pipe"  [toggleable]="true">
         <b>Oeiginal</b>
         <pre> {{clientes}} </pre>

         <b>slice:0:2</b>
         <!-- Seteccion de cambios, posiciones indice 0 1 2 -->
         <pre> {{clientes | slice:0}} </pre>

         <b>slice:0:2</b>
         <!-- Seteccion de cambios, posiciones indice 0 1 2 -->
         <pre> {{clientes | slice:1:2}} </pre>

     </p-fieldset>

   </div>

   <div class="p-col p-md-6">

      <p-fieldset legend="JSON pipe"  [toggleable]="true">
         <pre>
            {{heroe | json}}
         </pre>
      </p-fieldset>
   </div>

   <div class="p-col p-md-6">

      <p-fieldset legend="KeyValeue"  [toggleable]="true">
         <!-- itera objetos -->
         <ul *ngFor="let item of persona | keyvalue">
            <li>
               {{item.key}}: {{item.value}}
            </li>
         </ul>
      </p-fieldset>
   </div>


   <div class="p-col p-md-6">

      <p-fieldset legend="Async pipe"  [toggleable]="true">
         <!-- itera objetos -->
         <!-- <pre>
            {{miObservable | async}}
         </pre> -->
         <pre *ngIf="!(valorPromesa | async)">Resolviendo promesa</pre>
         <pre> {{valorPromesa | async}} </pre>
      </p-fieldset>
   </div>

   

</div>